.slider{
    margin-top: 10vh;
    width: 60vw;
    height: 50vh;
    border-radius: 10px;
    box-shadow: -5px 5px 5px black;
    display: flex;
    align-items: center;
    transition: background-color 1s ease;
    overflow: hidden;
}
h2{
    color:white;
    font-size: 9vw;
    line-height: 15vh;
    margin-left: 1vw;
    animation: slide 8s linear infinite;
}
@keyframes slide {
    0% { transform: translateX(100%); }
    20% { transform: translateX(0); }
    80% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }